.fp {
  align-items: center; /* triplice sagrada3 */
  background-color: #036b52;
  border-radius: 5px;
  color: white;
  display: flex; /* triplice sagrada1 */
  font-size: 36px;
  font-weight: 700;
  height: 100px;
  justify-content: center; /* triplice sagrada2 */
  margin: auto; /* apoio a triplice sagrada */
  text-align: center;
  text-transform: uppercase; /*  colocar em caixa alta */
  width: 563px;
}

.check-title {
  color: #343434;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  margin-bottom: 0;
  margin-left: 9%;
}
